<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Token" value="BOT TOKEN HERE" />
		<add key="ChannelId" value="882982663273713758" />
		<add key="XmlUrl" value="https://www.pokeguardian.com/sitemap.xml" />
		<add key="LastUrl" value="https://www.pokeguardian.com/786395_mimikyu-vmax-csr-with-acerola-revealed-from-s8b-vmax-climax" />
	</appSettings>
</configuration>
